<!DOCTYPE html>
<html>
	<head>
		<base href="../"/>
		<meta charset="utf-8">
		<title>台灣美食</title>
		
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		
		<link rel="stylesheet" href="css/index.css"/>
		<script type="text/javascript" src="js/index.js"></script>
	</head>
	<body>
		
		<h1>台南美食</h1>
		<div id="searchDiv">
			
			<form class="form-inline">
			  <div class="form-group">
			    <label>菜式：</label>
			    <select id="foodType" class="form-control">
			      <option>請選擇</option>

			    </select>  
			  </div>
			  <div class="form-group">
			    <label>品種：</label>
				<select  id="foodCategory" class="form-control">
				  <option>請選擇</option>
				</select>  
			  </div>

			</form>
			
			<form class="form-inline">
				<div class="form-group">
					<label>菜名：</label>
					<select id="foodName" class="form-control">
						<option>請選擇</option>
					</select>
				</div>
			  <div class="form-group">
			    <label>地區：</label>
			    <select id="areaSelect" class="form-control">
					<option>請選擇</option>
			      <option>北區</option>
				  <option>南區</option>
			      <option>西區</option>
			      <option>東區</option>
			    </select>  
			  </div>
			  <div class="form-group">
			    <label>時間：</label>
				<select id="timeSelect" class="form-control">
				  <option>請選擇</option>
				  <option>早</option>
				  <option>午晚</option>
				  <option>宵夜</option>
				</select>  
			  </div>
			</form>
			
			<button id="searchBtn" type="button" class="btn btn-info">查詢</button>
		</div>
		
		
	</body>
</html>