<!DOCTYPE html>
<html>
	<head>
		<base href="../"/>
		<meta charset="utf-8">
		<title>台灣美食</title>
		
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		
		<link rel="stylesheet" href="css/restaurant.css"/>
		<script type="text/javascript" src="js/restaurant.js"></script>
	</head>
	<body>

	    <input id="foodName" type="hidden" th:value="${foodName}">
		<input id="foodArea" type="hidden" th:value="${foodArea}">
		<input id="foodTime" type="hidden" th:value="${foodTime}">
		
		<div class="container-fluid">
		  <div id="restaurantList" class="row">
		    <div class="col-md-4">
		    	<div class="restaurantClass">
		    		<h1>好吃的飯店1</h1>
		    		<p>評分：5顆星</p>
		    	</div>
		    </div>
		    <div class="col-md-4">
		    	<div class="restaurantClass">
		    		<h1>好吃的飯店1</h1>
		    		<p>評分：5顆星</p>
		    	</div>
		    </div>
		    <div class="col-md-4">
		    	<div class="restaurantClass">
		    		<h1>好吃的飯店1</h1>
		    		<p>評分：5顆星</p>
		    	</div>
		    </div><div class="col-md-4">
				<div class="restaurantClass">
					<h1>好吃的飯店1</h1>
					<p>評分：5顆星</p>
				</div>
			</div>
		    <div class="col-md-4">
				<div class="restaurantClass">
					<h1>好吃的飯店1</h1>
					<p>評分：5顆星</p>
				</div>
			</div>
		    <div class="col-md-4">
				<div class="restaurantClass">
					<h1>好吃的飯店1</h1>
					<p>評分：5顆星</p>
				</div>
			</div><div class="col-md-4">
				<div class="restaurantClass">
					<h1>好吃的飯店1</h1>
					<p>評分：5顆星</p>
				</div>
			</div>
		    <div class="col-md-4">
				<div class="restaurantClass">
					<h1>好吃的飯店1</h1>
					<p>評分：5顆星</p>
				</div>
			</div>
		    <div class="col-md-4">
				<div class="restaurantClass">
					<h1>好吃的飯店1</h1>
					<p>評分：5顆星</p>
				</div>
			</div>
		  </div>
		</div>
		
		
	</body>
</html>